body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #000000;
  }
  .hero{
    position: relative;
    width: 100%;
    height: 500pvh;
    background: #eff4fd;
  }
  h1 {
    text-align: center;
    color: white;
    padding: 10px 0;
    background-color:  rgb(179, 255, 1);
    margin-top: 0;
  }
  nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;

}
nav ul li a:hover{
    color: orange;
    
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}

/*fin de encabezado*/


  #menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
  }

  .menu-item {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 10px;
  }

  .menu-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .menu-item p {
    margin-bottom: 10px;
  }

  .total {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
  }

  .buy-button {
    background-color: rgb(179, 255, 1);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  #carrito {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #050505;
  }
  
  #carrito h2 {
    margin-top: 0;
  }
  
  #carrito-lista {
    list-style-type: none;
    padding: 0;
  }
  
  #carrito-lista li {
    margin-bottom: 5px;
  }
  
  #carrito-total {
    font-weight: bold;
    margin-top: 10px;
  }
  
  #comprar-todo-button {
    background-color: rgb(0, 255, 221);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

/*comienzo de pie*/

footer{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}
.cuerpo-pie{
    height: 25vh;
    width: 100%;
    position: relative;
}
.verdadero-pie{
  width: 83%;
  height: 50vh;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo-pie{
    height: 80px;
    margin-bottom: 1rem;
}
.social-incons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(Resources/FacebookBlanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}
.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}
.social-icon:nth-of-type(2){
    background-image: url(Resources/InstagramBlanco.png);

}
.social-icon:nth-of-type(3){
    background-image: url(Resources/LinkedingBlanco.png);

}
.social-icon:nth-of-type(4){
    background-image: url(https://w7.pngwing.com/pngs/63/862/png-transparent-twitter-logo-monochrome-graphy-line-art-twitter-angle-white-face.png);

}
.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;

}
.menu-iten{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-iten:hover{
    opacity: 1;
}
.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}
body{
color: blue;
}
.navbar-brand{
text-align: center;
}


  